In [13]:
import pandas as pd
data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data, index=['uno', 'due', 'tre'])
df.head()

     A  B  C
uno  1  4  7
due  2  5  8
tre  3  6  9

In [17]:
# Seleziona la riga con etichetta 'due' e tutte le colonne utilizzando loc
row_data = df.loc[('due',"tre"),"B":"C"]
print(row_data)
# Output:
# A    2
# B    5
# C    8
# Name: due, dtype: int64

     B  C
due  5  8
tre  6  9

iloc (index location):
iloc è utilizzato per selezionare dati in base alla posizione numerica degli indici.
Accetta gli indici interi e viene utilizzato quando si desidera selezionare le righe o le colonne in base al loro posizionamento numerico.
Gli indici sono specificati come numeri interi, e la selezione è basata sulla posizione numerica delle righe o colonne nel DataFrame.
Utilizza la sintassi iloc[righe, colonne]

In [7]:
data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data)
df.head()

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [8]:
value = df.iloc[0, 1]
print(value)  # Output: 4

4